{% extends 'base.html' %}

{% block title %}Analytics{% endblock %}

{% block head_css %}
{{ super() }}
    <link href="{{ url_for('static', filename='vendors/select2/css/select2.min.css') }}", rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}", rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/bootstrap3-dialog/css/bootstrap-dialog.min.css') }}", rel="stylesheet">
    <style>
        #controls {
            margin-bottom: 20px;
        }

    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #DDD;
    }

    </style>
{% endblock %}

{% block page_body %}
<div class="container">
    <div id="controls">
        <select class="chart-control" id="company" style="width: 200px;">
            <option disabled selected>-- Select an option --</option>
        </select>
        <select class="chart-control" id="rtype" style="width: 200px;">
            <option disabled selected>-- Select an option --</option>
        </select>
        <select class="chart-control" id="timerange" style="width: 200px;">
            <option value="0">0</option>
            <option value="3">3</option>
            <option value="6">6</option>
            <option value="9">9</option>
            <option value="12">12</option>
        </select>
    </div>

    <div id="fintable-wrapper" class="table-responsive"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Panel Heading</div>
                <div class="panel-body" id="chart-wrapper" data-width="50" data-height="25">
                    <!-- <canvas id="myChart" width="400" height="200"></canvas> -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_scripts %}
<script src="{{ url_for('static', filename='vendors/jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/select2/js/select2.full.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bootstrap3-dialog/js/bootstrap-dialog.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/analytics.js') }}"></script>
<script>
    jQuery.fn.fillSelect2WithAjax = function(url, attributes) {
        var self = this;
        $.getJSON(url).done(function(data) {
            for(var i = 0; i < self.length; i++) {
                $(self[i]).fillSelect2WithData(data.results, attributes);
            }
        });
    }

    jQuery.fn.fillSelect2WithData = function(data, attributes) {
        var attrs = {id: "id", label: "text"};
        $.extend(attrs, attributes);

        if ($(this).hasClass("select2-hidden-accessible")) {
            $(this).select2("destroy");
        }

        var select = this;
        $.each(data, function() {
            $(select).append(
                $("<option/>").val(this.id).text(this.name)
                    .attr("data-timeframe", this.timeframe)
            );
        });
        this.applySelect2(attrs);
    }

    jQuery.fn.applySelect2 = function(attributes) {
        var attrs = {
            dropdownAutoWidth: true,
            placeholder: {
                id: "none",
                value: "-1",
                text: "Select an option",
            },
        };
        $.extend(attrs, attributes);

        for(var i = 0; i < this.length; i++) {
            $(this[i]).select2(attrs);
        }
    }    

    function distinct(array, key) {
        if (key === undefined) key = function(item) { return item; };
        var flags = [];
        var output = [];
        for(var i = 0; i < array.length; i++) {
            if (flags[key(array[i])]) continue;
            flags[key(array[i])] = true;
            output.push(array[i]);
        }
        return output;
    }

    $("#timerange").select2();
    $("#company").fillSelect2WithAjax("/api/companies?fields=id,name", {"label": "name"});
    $("#rtype").fillSelect2WithAjax("/api/rtypes?fields=id,name,timeframe", {"label": "name"}); 

    $(".chart-control").change(function() {
        var company_id = $("#company").val();
        var rtype_id = $("#rtype").val();

        // if (rtype_id !== null) {
        //     var timeframe = $("#rtype").find(":selected").data("timeframe");
        //     var $timerange = $("#timerange");
        //     if (timeframe == "pot") {
        //         if ($timerange.prop("disabled")) {
        //             $timerange.prop("disabled", false); 
        //             $timerange.val($timerange.children("option:first-child").val());
        //         }
                
        //     } else {
        //         if (!$timerange.prop("disabled")) {
        //             $timerange.val("0");
        //             $timerange.prop("disabled", true);
        //         }
        //     }
        // }

        var timerange = $("#timerange").val();

        if (rtype_id !== null && company_id !== null) {
            var company_name = $("#company option:selected").text();
            var rtype_name = $("#rtype option:selected").text();

            loadData({
                company: company_id, rtype: rtype_id, 
                timerange: timerange
            }, updateChart, {
                company: company_name, rtype: rtype_name,
                timerange: timerange 
            });
        }

        if (company_id !== null) {
            loadSchema({
                fschema: 4, company: company_id, timerange: timerange
            }, function(data) {
                var $table = createTable(data, {
                    "class": "table table-striped table-bordered table-hover"
                });
                $("#fintable-wrapper").empty();
                $("#fintable-wrapper").append($table);
            });
        }

    });


    function loadData(request, callback, metadata) {
        var request_url = "http://localhost:5000/api/companies/" + 
            request.company + "/records?filter=rtype_id=" + 
            request.rtype + ";timerange=" + request.timerange;

        $.getJSON(request_url).done(function(data) {
            data.results.forEach(function(item) {
                item.timestamp = moment(item.timestamp);
            });
            callback(data.results, metadata);
        });
    }

    // loadSchema({
    //     fschema: 4, company: 37, timerange: 0
    // }, function(data) {
    //     var $table = createTable(data, {
    //         "class": "table table-striped table-bordered table-hover"
    //     });
    //     $("#fintable-wrapper").append($table);
    // });

    // loadData(106, 107, 0, updateChart);
    // loadData({company: 37, rtype: 69, timerange: 3}, updateChart);


    function formatTimestamp(timestamp, format) {
        if (format === undefined) format = "YYYY-MM";
        return timestamp.format(format);
    }


    function updateChart(data, metadata) {
        if (data.length === 0) {
            alert("No data");
            return;
        }

        var $wrapper = $("#chart-wrapper");
        $wrapper.empty();

        var $canvas = $("<canvas><canvas>");
        $canvas.prop("width", $wrapper.attr("data-width"));
        $canvas.prop("height", $wrapper.attr("data-height"));
        $wrapper.append($canvas);

        var ctx = $canvas[0].getContext("2d");

        var labels = data.map(function(item) { return item.timestamp; })
            .sort().reverse().map(function(item) { return formatTimestamp(item); });
        var data = data.sort(function(x, y) {
                return moment(x.timestamp) - moment(y.timestamp);
            })
            .map(function(item) { 
                return {
                    "y": item.value,
                    "x": formatTimestamp(item.timestamp)
                }
            });

        var myChart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: labels,
                datasets: [{
                    label: metadata.company + ": " + metadata.rtype,
                    data: data,
                    backgroundColor: data.map(function(d) {
                        if (d.y > 0) {
                            return "limegreen";
                        } else {
                            return "red";
                        }
                    }),
                    borderColor: "black",
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });


    }
</script>
{% endblock %}