{% extends 'base.html' %}

{% block title %}Analytics{% endblock %}

{% block head_css %}
{{ super() }}
    <link href="{{ url_for('static', filename='vendors/select2/css/select2.min.css') }}", rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}", rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/bootstrap3-dialog/css/bootstrap-dialog.min.css') }}", rel="stylesheet">
    <style>
        svg {
            width: 1024px;
            height: 480px;
            /*border: 1px solid black;*/
        }
        #controls {
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block page_body %}
<div class="container">
    <div id="controls">
        <select class="chart-control" id="company" style="width: 200px;">
            <option disabled selected>-- Select an option --</option>
        </select>
        <select class="chart-control" id="rtype" style="width: 200px;">
            <option disabled selected>-- Select an option --</option>
        </select>
        <select disabled class="chart-control" id="timerange" style="width: 200px;">
            <option value="3" >3</option>
            <option value="6" >6</option>
            <option value="9" >9</option>
            <option value="12" >12</option>
        </select>
    </div>
    <div>
        <svg></svg>
    </div>
</div>
{% endblock %}

{% block body_scripts %}
<script src="{{ url_for('static', filename='vendors/jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/select2/js/select2.full.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bootstrap3-dialog/js/bootstrap-dialog.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script>
    jQuery.fn.fillSelect2WithAjax = function(url, attributes) {
        var self = this;
        $.getJSON(url).done(function(data) {
            for(var i = 0; i < self.length; i++) {
                $(self[i]).fillSelect2WithData(data.results, attributes);
            }
        });
    }

    jQuery.fn.fillSelect2WithData = function(data, attributes) {
        var attrs = {id: "id", label: "text"};
        $.extend(attrs, attributes);

        if ($(this).hasClass("select2-hidden-accessible")) {
            $(this).select2("destroy");
        }

        var select = this;
        $.each(data, function() {
            $(select).append(
                $("<option/>").val(this.id).text(this.name)
                    .attr("data-timeframe", this.timeframe)
            );
        });
        this.applySelect2(attrs);
    }

    jQuery.fn.applySelect2 = function(attributes) {
        var attrs = {
            dropdownAutoWidth: true,
            placeholder: {
                id: "none",
                value: "-1",
                text: "Select an option",
            },
        };
        $.extend(attrs, attributes);

        for(var i = 0; i < this.length; i++) {
            $(this[i]).select2(attrs);
        }
    }    

    function distinct(array, key) {
        if (key === undefined) key = function(item) { return item; };
        var flags = [];
        var output = [];
        for(var i = 0; i < array.length; i++) {
            if (flags[key(array[i])]) continue;
            flags[key(array[i])] = true;
            output.push(array[i]);
        }
        return output;
    }

    $("#timerange").select2();
    $("#company").fillSelect2WithAjax("/api/companies?fields=id,name", {"label": "name"});
    $("#rtype").fillSelect2WithAjax("/api/rtypes?fields=id,name,timeframe", {"label": "name"}); 

    $(".chart-control").change(function() {
        var company = $("#company").val();
        var rtype = $("#rtype").val();
        var timerange;

        if (rtype !== null) {
            var timeframe = $("#rtype").find(":selected").data("timeframe");
            if (timeframe == "pot") {
                $("#timerange").prop("disabled", false); 
                timerange = $("#timerange").val();
            } else {
                $("#timerange").val("0");
                $("#timerange").prop("disabled", true);
                timerange = 0;
            }
        }

        if (rtype !== null && company !== null) {
            alert(timerange);
            loadData(company, rtype, timerange, plotData);
        }
    });

    function loadData(company, rtype, timerange, callback) {
        var request_url = "http://localhost:5000/api/companies/" + 
            company + "/records?filter=rtype_id=" + rtype + ";timerange=" + 
            timerange;

        $.getJSON(request_url).done(function(data) {
            data.results.forEach(function(item) {
                item.timestamp = moment(item.timestamp);
            });
            callback(
                data.results, 
                {company: company, rtype: rtype, timerange: timerange}
            );
        });
    }

    // loadData(106, 94, refreshChart);
    loadData(37, 69, 6, updateChart);

    // https://bl.ocks.org/mbostock/3887051
    // https://bl.ocks.org/mbostock/2368837
    function updateChart(data, metdata) {
        var cf = new Chart({
            "svg": "svg",
            "left-scale": d3.scaleLinear,
            "right-scale": d3.scaleLinear,
            "x-scale": d3.scaleTime
        });
        cf.appendSeries({
            "data": data.map(function(item) { 
                return {
                    "x": item.timestamp,
                    "y": item.value
                };
            })
        });
        cf.update();
    }


</script>
{% endblock %}