<!-- app/templates/admin/companies/companies.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Companies{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Companies</h1>
        {% if companies %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Name </th>
                  <th width="40%"> Description </th>
                  <th width="15%"> Employee Count </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for company in companies %}
                <tr>
                  <td> {{ company.name }} </td>
                  <td> {{ company.isin }} </td>
                  <td>
                      0
                  </td>
                  <td>
                    <a href="{{ url_for('dbmd.edit_company', id=company.id) }}">
                      <i class="fa fa-pencil"></i> Edit 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('dbmd.delete_company', id=company.id) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No companies have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('dbmd.add_company') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Company
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}