{% extends "base.html" %}
{% import 'admin/tools/utils.html' as utils %}

{% block responsivnes %}{% endblock %}
{% block title %} Parser {% endblock %}

{% block head_css %}
{{ super() }}
    <link href="{{ url_for('static', filename='vendors/select2/css/select2.min.css') }}", rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}", rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/bootstrap3-dialog/css/bootstrap-dialog.min.css') }}", rel="stylesheet">
    <link href="{{ url_for('static', filename='css/non-responsive.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/miner.css') }}" rel="stylesheet">
{% endblock %}

{% block page_body %}
{{ super() }}
    <div class="container container-full">
        <h3>Financial Data Miner - Summary</h3>
        <hr>

        <div>
            <h4>Company & Financial Report</h4>
            <div>
                <label>Company<strong style="color: red">&#42;</strong></label>
                <select id="company-select">
                    <option disabled selected value> -- select a company -- </option>
                    {% for comp in companies %}<option value="{{comp.id}}" {% if company and company.name == comp.name %}selected="selected"{% endif %}>{{comp.name}}</option>{% endfor %}
                </select>
                <p class="help-block">Company is required. All uploaded records will be associated with selected company.</p>
            </div>
            <div>
                <div class="checkbox">
                    <label><input id="report-disable-btn" type="checkbox" {% if not (report_timerange and report_timestamp) %} checked {% endif %} value=""> 
                        Data do not concern one particular financial report.
                    </label>
                </div>
                <dvi id="report-data"{% if not (report_timerange and report_timestamp) %} style="display: none;" {% endif %}>
                    <p>Financial report for <strong><span class="timerange" id="report-timerange">{% if report_timerange %}{{report_timerange}}{% else %}---{% endif %}</span></strong> months ended on <strong><span class="timestamp" id="report-timestamp">{% if report_timestamp %}{{report_timestamp.strftime('%Y-%m')}} {% else %}---{% endif %}</span></strong> 
                    (<a href="javascript:void(0);" class="time-editor-btn">Edit <span class="glyphicon glyphicon-edit"></span></a>).</p>
                    <p class="help-block">Financial report is optional. All uploaded records will be associated with specified report.</p>
                </dvi>
            </div>
        </div>
        <hr>

        <div id="report-wrapper">
            <h4>Content of the report</h4>
            <div id="report-ui">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked id="layout-checkbox" onchange="switchLayout();"> Maintain the original physical layout of the text.
                    </label>
                </div>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default" 
                            data-select-type="ALL" id="stm-filter-btn"
                            title="Statement">ALL</button>
                    <button type="button" class="btn btn-default dropdown-toggle" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            title="Statement">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                </div>
                <div class="btn-group btn-group-sm">
                     <button type="button" class="btn btn-danger" id="row-remove-btn" title="Trash">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </div> <!-- <div id="report-ui"> -->

            <div id="report-content"> 
                <table class="table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Row #</th>
                            <th>Record Type</th>
                            <th>Row Content</th>
                        </tr>  
                    </thead>
                    <tbody>
                        {% for row in content %}
                            {% set record_name = data.rows_map.get(loop.index0, None) %}
                            {% if record_name %}
                                <tr data-row-name="{{record_name}}">
                            {% else %}
                                <tr>
                            {% endif %}
                                 <td class="selector">
                                    <a href="javascript:void(0);" class="recordform-btn"><span class="glyphicon glyphicon-plus"></span></a>
                                    <input type="checkbox">
                                </td>
                                <td class="pageno">{{loop.index}}</td>
                                <td class="record-name">
                                    {% if record_name %}
                                        <a href="javascript:void(0);" onclick="focusOnRecord('*[data-record-rtype=\'{{record_name}}\']');">{{record_name}}</a>
                                    {% else %}
                                        <span>---</span>
                                    {% endif %}
                                </td>
                                <td class="content">{{row}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container container-full">
        <h3>Identified Records</h3>
        <table id="identified-records" class="table table-hover records-table">
            {% if data|length == 0%}
                <thead style="display: none;">
            {% else %}
                <thead>
            {% endif %}
                <tr>
                    <th class="column-btn"></th>
                    <th class="column-rtype"></th>
                    <th class="column-uom">Record Type</th>
                    <th>Units</th>
                    {% for i in range(data.ncols) %}
                        {% if data.names|length > i %}
                            {% set timerange = data.names[i][0] %}
                            {% set timestamp = data.names[i][1][:2]|join('-') %}
                        {% else %}
                            {% set timerange = '---' %}
                            {% set timestamp = timerange %}
                        {% endif %}
                        <th class="column-value" data-column-id="{{loop.index}}">
                            <span class="timerange">{{timerange}}</span> months ended on <span class="timestamp">{{timestamp}}</span>
                            <a href="javascript:void(0);" class="time-editor-btn"><span class="glyphicon glyphicon-edit"></span></a>
                            <a href="javascript:void(0);" onclick="removeColumn('#identified-records', {{loop.index}});" <span class="glyphicon glyphicon-remove"></span></a>
                        </th>
                    {% endfor %}
                </tr>  
            </thead>
            <tbody>
                <tr class="empty-row" {% if data|length > 0 %} style="display: none;" {% endif %}>
                    <td colspan="999">
                        <div>
                            <strong>No record has been identified.</strong>
                        </div>
                    </td>
                </tr>
                {% for record_name, values in data.items() %}
                    <tr class="record-row ui-widget-content" data-record-rtype="{{record_name}}">
                        <td class="no-right-padding cell-btn">
                            <button type="button" class="btn btn-xs btn-danger record-remove-btn">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>      
                        </td>
                        <td class="no-left-padding cell-btn">
                            <button type="button" class="btn btn-xs btn-primary btn-to-row">
                                <span class="glyphicon glyphicon-arrow-up"></span>
                            </button>   
                        </td>
                        <td class="cell-rtype">
                            <span class="record-rtype">{{record_name}}</span>
                            <a href="javascript:void(0);" class="record-rtype-btn"><span class="glyphicon glyphicon-list"></span></a>
                        </td>
                        <td class="cell-uom"><select class="record-uom" data-init-val="{{data.uom}}"></select></td>
                        {% for value in values %}
                            <td class="cell-value"><input type="text" class="form-control input-sm" value="{{value}}"></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-primary" onclick="addEmptyRow('#identified-records');">Add Record</button>
        <button class="btn btn-primary" onclick="addEmptyColumn('#identified-records');">Add Column</button>
    </div>

    <div class="container container-full">
        <div style="margin-top:30px"></div>
        {{ utils.render_export_form(url_for('dbmd_tools.upload_data')) }}
    </div>
{% endblock %}

{% block body_scripts %}
<script src="{{ url_for('static', filename='vendors/jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/select2/js/select2.full.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bootstrap3-dialog/js/bootstrap-dialog.min.js') }}"></script>
<script>
    var rtypes = {{ rtypes|tojson }};
</script>
<script src="{{ url_for('static', filename='js/dbmd_tools.js') }}"></script>
<script src="{{ url_for('static', filename='js/direct_input_miner.js') }}"></script>
{% endblock %}