<!DOCTYPE html>

<html lang="en">
    
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>OpenStock - Reports Parser</title>
    
    <!-- Bootstrap -->
    <link href="bootstrap/swatch/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="select2/css/select2.css" rel="stylesheet">
    <link href="jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .table > tbody > tr > td {
            padding-bottom: 0px;
        }
        .table > tbody > tr > td input {
            text-align:center 
        }
        .table > thead > tr > th {
            vertical-align: middle;
            text-align: justify;
        }
        .column-timestamp {
            white-space: nowrap;
        }
        .rtype-selection {
            max-width: 150px;
        }
    </style>
</head>

<body>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Record Type</th>
                    <th data-column-id="1">
                        <span class="column-timerange">3</span> months ended on <span class="column-timestamp">2015-03-31</span>
                        <a href="#" data-toggle="modal" data-target="#column-editor"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="javascript:void(0);" onclick="removeColumn(1);" <span class="glyphicon glyphicon-remove"></span></a>
                    </th>
                    <th data-column-id="2">
                        <span class="column-timerange">9</span> months ended on <span class="column-timestamp">2015-03-31</span>
                        <a href="#" data-toggle="modal" data-target="#column-editor"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="javascript:void(0);" onclick="removeColumn(2);" <span class="glyphicon glyphicon-remove"></span></a>
                    </th>
                    <th data-column-id="3">
                        <span class="column-timerange">3</span> months ended on <span class="column-timestamp">2014-03-31</span>
                        <a href="#" data-toggle="modal" data-target="#column-editor"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="javascript:void(0);" onclick="removeColumn(3);" <span class="glyphicon glyphicon-remove"></span></a>
                    </th>
                    <th data-column-id="4">
                        <span class="column-timerange">9</span> months ended on <span class="column-timestamp">2014-03-31</span>
                        <a href="#" data-toggle="modal" data-target="#column-editor"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="javascript:void(0);" onclick="removeColumn(4);" <span class="glyphicon glyphicon-remove"></span></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="record-row ui-widget-content">
                    <td>
                        <button type="button" class="btn btn-danger btn-xs record-remove-btn">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>      
                    </td>
                    <td>
                        <select class="rtype-selection">
                            <option value="1">REVENUE</option>
                            <option value="2">NET PROFIT</option>
                            <option value="3">TAX</option>
                            <option value="4">VERY LONG NAME FOR RECORD TYPE</option>
                        </select>
                    </td> 
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" value="1234">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" value="2345">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" value="1234">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" value="2345">
                        </div>
                    </td>
                </tr>
                <tr class="record-row ui-widget-content">
                    <td>
                        <button type="button" class="btn btn-danger btn-xs record-remove-btn">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>      
                    </td>
                    <td>
                        <select class="rtype-selection">
                            <option value="1">REVENUE</option>
                            <option value="2">NET PROFIT</option>
                            <option value="3">TAX</option>
                            <option value="4">VERY LONG NAME FOR RECORD TYPE</option>
                        </select>
                    </td> 
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" value="123">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" value="100">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" value="456">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" value="100">
                        </div>
                    </td>
                </tr>
                <tr class="record-row ui-widget-content">
                    <td>
                        <button type="button" class="btn btn-danger btn-xs record-remove-btn">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>      
                    </td>
                    <td>
                        <select class="rtype-selection">
                            <option value="1">REVENUE</option>
                            <option value="2">NET PROFIT</option>
                            <option value="3">TAX</option>
                            <option value="4">VERY LONG NAME FOR RECORD TYPE</option>
                        </select>
                    </td> 
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" value="100">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" value="100">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" value="650">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" value="100">
                        </div>
                    </td>
                </tr>
                <tr class="record-row ui-widget-content">
                    <td>
                        <button type="button" class="btn btn-danger btn-xs record-remove-btn">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>      
                    </td>
                    <td>
                        <select class="rtype-selection">
                            <option value="1">REVENUE</option>
                            <option value="2">NET PROFIT</option>
                            <option value="3">TAX</option>
                            <option value="4">VERY LONG NAME FOR RECORD TYPE</option>
                        </select>
                    </td> 
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" value="100">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" value="100">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" value="650">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" value="100">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" id="record-add-btn">Add Record</button>
        <button class="btn btn-primary" id="column-add-btn">Add Column</button>
        <button class="btn btn-success" id="export-btn">Export</button>
    </div>
    
    <div class="modal fade" id="column-editor" tabindex="-1" role="dialog" aria-labelledby="modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modal-label">Timestamp & Timerange Editor</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="timestamp-input" class="control-label">Timestamp:</label>
                            <input type="text" class="form-control" id="timestamp-input">
                        </div>
                        <div class="form-group">
                            <label for="timerange-input" class="control-label">Timerange:</label>
                            <textarea class="form-control" id="timerange-input"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abort</button>
                    <button type="button" class="btn btn-primary" id="modal-ok-btn">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <script src="jquery-3.2.1.min.js"></script>
    <script src="jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="select2/js/select2.js"></script>
    <script> 
        // jquery extension
        jQuery.fn.makeDraggable = function() {
            for(var i = 0; i < this.length; i++) {
                $(this[i]).draggable({
                    helper: "clone",
                    start: function(even, ui) {
                        $(ui.helper).addClass("info");
                        $(this).addClass("info");
                    },
                    stop: function(event, ui) {
                        $(this).removeClass("info");
                    }
                });
            }
            return this; 
        };
        
        jQuery.fn.makeDroppable = function() {
            for(var i = 0; i < this.length; i++) {
                $(this[i]).droppable({
                    drop: function(event, ui) {
                        if ($(ui.helper).offset().top > $(this).offset().top) {
                            $(ui.draggable).insertAfter(this);
                        } else {
                            $(ui.draggable).insertBefore(this);
                        }
                        $(this).removeClass("success");
                        $(ui.helper).remove();
                    },
                    over: function(event, ui) {
                        $(this).addClass("success");
                    },
                    out: function(event, ui) {
                        $(this).removeClass("success");
                    }
                });
            }
            return this;
        };
    </script>
    <script>
        refreshSelects();
        $(".record-row").makeDraggable().makeDroppable();

        $("#column-editor").on("show.bs.modal", function(event) {
            var $caller = $(event.relatedTarget); 
            var $timerangeSpan = $caller.parent().find(".column-timerange");
            var $timestampSpan = $caller.parent().find(".column-timestamp");
            
            var modal = $(this);
            var $timerangeInput = modal.find("#timerange-input");
            var $timestampInput = modal.find("#timestamp-input");

            // update inputs with current values
            $timerangeInput.val($timerangeSpan.text());
            $timestampInput.val($timestampSpan.text());

            // set callback for Ok button
            modal.find("#modal-ok-btn").click(function(event) {
                $timerangeSpan.text($timerangeInput.val());
                $timestampSpan.text($timestampInput.val());
                modal.modal("hide");
            });
        });
        
        $(document).on("click", ".record-remove-btn", function() {
            $(this).closest("tr").remove();
        });
        
        $("#record-add-btn").on("click", function() {
            $("table tbody").append(createNewRow());
            refreshSelects();
        });
        
        $("#column-add-btn").on("click", function() {
            addNewColumn();       
        });
        
        $("#export-btn").on("click", function() {
           var records = readRecords();
           alert(JSON.stringify(records));
        });
        
        $(document).on("focusin", "table td input", function() {
            $(this).closest("tr").addClass("info"); 
        });
        
        $(document).on("focusout", "table td input", function() {
            $(this).closest("tr").removeClass("info"); 
        });
        
        var rtypes = [
            {"id": "1", "name": "REVENUE"},
            {"id": "2", "name": "NET PROFIT"},
            {"id": "3", "name": "TAX"},
            {"id": "4", "name": "VERY LONG NAME FOR RECORD TYPE"}
        ];
        
        //----------------------------------------------------------------------
        // Utils
        //----------------------------------------------------------------------
        
        var FIXED_COLUMNS = 2;
        var RECORD_TYPE_COLUMN = 1;
        
        function refreshSelects() {
            $(".rtype-selection").select2({
                dropdownAutoWidth: true,
                placeholder: {
                    id: "-1",
                    text: "Select an option"
                }
            });
        }
        
        function addNewColumn() {
            $("table thead tr").append(createHeaderElement());
            var rows = $("table tbody tr");
            for(var i = 0; i < rows.length; i++) {
                $(rows[i]).append(wrapElementWithinTD(createRecordInputValue()));    
            }
        }
    
        function createHeaderElement() {
            var columnId = generateColumnId();
            var $th = $("<th></th>", {"data-column-id": String(columnId)});
            $("<span></span>", {
                "class": "column-timerange",
                "text": "0"
            }).appendTo($th);
            $("<span> months ended on </span>").appendTo($th);
            $("<span></span>", {
                "class": "column-timestamp",
                "text": "0001-01-01"
            }).appendTo($th);
            $("<span> </span>").appendTo($th);
            $("<a></a>", {
                "href": "#",
                "data-toggle": "modal",
                "data-target": "#column-editor",
                "html": "<span class='glyphicon glyphicon-edit'></span>"
            }).appendTo($th);
            $("<a></a>", {
                "href": "javascript:void(0);",
                "onclick": "removeColumn(" + columnId + ")",
                "html": "<span class='glyphicon glyphicon-remove'></span>"
            }).appendTo($th);            
            return $th;
        }
        
        function generateColumnId() {
            var maxColumnId = Math.max.apply(null, $("table thead tr th").map(function() {
                return $(this).data("column-id"); 
            }));
            return maxColumnId + 1;
        }
        
        function removeColumn(columnId) {
            if (confirm("Are your sure you want to remove whole columne?") === true) {
                var headers = $("table thead tr th");
                var index = 0;  
                for(var i = 0; i < headers.length; i++) {
                    if ($(headers[i]).data("column-id") == columnId) {
                        index = i;
                        break;
                    }    
                }
                $(headers[i]).remove();
                var columns = $("table tbody tr");
                for(var i = 0; i < columns.length; i++) {
                    $($(columns[i]).find("td")[index]).remove();
                }    
            }
        }

        function createNewRow() {
            var $row = $("<tr></tr>", {
                "class": "record-row ui-widget-content"
            }); 
            $row.append(wrapElementWithinTD(createRecordRemoveButton()));
            $row.append(wrapElementWithinTD(createRecordTypeSelect(rtypes)));
            for (var i = 0; i < getNumberOfColumns(); i++) {
                $row.append(wrapElementWithinTD(createRecordInputValue()));
            }
            $row.makeDraggable().makeDroppable();
            return $row;
        }
        
        function wrapElementWithinTD(element) {
            var $td = $("<td></td>");
            $td.append(element);
            return $td;
        }
        
        function createRecordRemoveButton() {
            var $button = $("<button type='button'/>").attr({
                "class": "btn btn-danger btn-xs record-remove-btn"
            });
            $("<span></span>", {
                "class": "glyphicon glyphicon-remove"
            }).appendTo($button);
            return $button;
        }
        
        function createRecordTypeSelect(options) {
            var $select = $("<select></select>", {"class": "rtype-selection"});
            for(var i = 0; i < options.length; i++) {
                createRecordTypeSelectOption(options[i].id, options[i].name).
                    appendTo($select);
            }
            return $select;
        }
        
        function createRecordTypeSelectOption(value, name) {
            var $option = $("<option></option>", {
               "value": String(value),
               "text": name
            });
            return $option;
        }
        
        function getNumberOfColumns() {
            var $tableRows = $("table thead tr");
            var maxNumberOfCells = Math.max.apply(null, $tableRows.map(function() {
                return $(this).find("th").length - FIXED_COLUMNS;
            }).get());
            return maxNumberOfCells;
        }
        
        function createRecordInputValue(defaultValue) {
            if (defaultValue === undefined) defaultValue = 0;
            var $div = $("<div></div>", {"class": "form-group"});
            $("<input></input>", {
                "type": "text",
                "class": "form-control input-sm",
                "val": defaultValue
            }).appendTo($div);
            return $div;
        }
        
        function readRecords(companyId, reportId) {
            if (companyId === undefined) companyId = null;
            if (reportId === undefined) reportId = null;
            
            var headers = $("table thead tr th").slice(FIXED_COLUMNS).map(function() {
                return {
                    "timerange": $(this).find(".column-timerange").text(),
                    "timestamp": $(this).find(".column-timestamp").text()       
                };
            }).get();
            
            var records = $("table tbody tr").map(function(rowIndex) {
                var tds = $(this).find("td");
                var recordType = $(tds[RECORD_TYPE_COLUMN]).find("select").find("option:selected").text();
                return $(this).find("td").slice(FIXED_COLUMNS).map(function(columnIndex) {
                    return {
                        "value": parseFloat($(this).find("input").val()),
                        "rtype": recordType,
                        "timerange": parseInt(headers[columnIndex].timerange),
                        "timestamp": headers[columnIndex].timestamp,
                        "company_id": companyId,
                        "report_id": reportId
                    }       
                }).get();
            }).get();

            return records;
        }
    </script>
</body>

</html>