{% extends "base.html" %}

{% block responsivnes %}{% endblock %}
{% block title %} Parser {% endblock %}

{% block head_css %}
    <link href="{{ url_for('static', filename='vendors/select2/css/select2.min.css') }}", rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/non-responsive.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/parser.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/parser-table.css') }}" rel="stylesheet">
{% endblock %}

{% block page_body %}
{{ super() }}
    <div class="container container-full">
        <h3>Financial Data Miner - Summary</h3>
        <p>Financial report for <strong><span id="report-timerange">{{report.timerange}}</span></strong> months ended on <strong><span id="report-timestamp">{{report.timestamp.strftime('%Y-%m-%d')}}</span></strong> 
        (<a href="#">Edit</a>).</p>
        <p>Company:
            {% if company %}
                <div id="company-id" data-company-id="{{company.id}}"></div>
                <a href="#", target="_blank">{{company.fullname}}</a>
            {% else %}
                Not identified
            {% endif %} 
            (<a href="#">Select Company</a>)</button>
        </p>

        <div id="report-wrapper">
            <div id="report-ui">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked id="layout-checkbox" onchange="switchLayout();"> Maintain the original physical layout of the text.
                    </label>
                </div>
                
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default" 
                            data-select-type="ALL" id="stm-filter-btn"
                            title="Statement">ALL</button>
                    <button type="button" class="btn btn-default dropdown-toggle" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            title="Statement">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" id="stm-filter-list">
                        <li><a data-select-type="ALL" href="#">ALL</a></li>
                        <li><a data-select-type="NONE" href="#">NONE</a></li>
                        <li><a data-select-type="BLS" href="#">BLS</a></li>
                        <li><a data-select-type="ICS" href="#">ICS</a></li>
                        <li><a data-select-type="CFS" href="#">CFS</a></li>
                    </ul>
                </div>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default" id="report-bls-btn" title="BLS" onclick="scrollToRecords('tr.bls-style');">
                        <span>BLS</span>
                    </button>
                    <button type="button" class="btn btn-default" id="report-ics-btn" title="ICS" onclick="scrollToRecords('tr.ics-style');">
                        <span>ICS</span>
                    </button>
                    <button type="button" class="btn btn-default" id="report-cfs-btn" title="CFS" onclick="scrollToRecords('tr.cfs-style');">
                        <span>CFS</span>
                    </button>
                </div> 
                <div class="btn-group btn-group-sm">
                    <div class="btn-group btn-group-sm" id="stm-dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Statement <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">NONE</a></li>
                            <li><a href="#">BLS</a></li>
                            <li><a href="#">ICS</a></li>
                            <li><a href="#">CFS</a></li>
                        </ul>
                    </div>
                     <button type="button" class="btn btn-danger" id="row-remove-btn" title="Trash">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </div> <!-- <div id="report-ui"> -->

            <div id="report-content">
                <table class="table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Page #</th>
                            <th>Record Type</th>
                            <th>Row Content</th>
                        </tr>  
                    </thead>
                    <tbody>
                        {% for doc_row, page_no, page_row, content in report.rows %}
                            {% if page_no in report.ics_pages %}
                                <tr class="ics-style" data-stm="ics">
                            {% elif page_no in report.bls_pages %}
                                <tr class="bls-style" data-stm="bls">
                            {% elif page_no in report.cfs_pages %}
                                <tr class="cfs-style" data-stm="cfs">
                            {% else %}
                                <tr data-stm="none">
                            {% endif %}
                                 <td class="selector">
                                    <a href="javascript:void(0);" class="recordform-btn"><span class="glyphicon glyphicon-plus"></span></a>
                                    <input type="checkbox">
                                </td>
                                <td class="pageno">{{page_no}}</td>
                                <td class="record-name">
                                    <span>{{report.rows_map.get(doc_row, None)}}</span>
                                </td>
                                <td class="content">{{content}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container container-full">
        <h3>Identified Records</h3>
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#wrapper-bls" aria-controls="wrapper-bls" role="tab" data-toggle="tab">BLS</a></li>
                <li role="presentation"><a href="#wrapper-ics" aria-controls="wrapper-ics" role="tab" data-toggle="tab">ICS</a></li>
                <li role="presentation"><a href="#wrapper-cfs" aria-controls="wrapper-cfs" role="tab" data-toggle="tab">CFS</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="wrapper-bls">
                    <table id="bls-table" class="table table-hover records-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Record Type</th>
                                {% for timerange, timestamp in report.bls.names %}
                                    <th data-column-id="{{loop.index}}">
                                        <span class="column-timerange">{{timerange}}</span> months ended on <span class="column-timestamp">{{timestamp|join('-')}}</span>
                                        <a href="#" data-toggle="modal" data-target="#column-editor"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a href="javascript:void(0);" onclick="removeColumn('#bls-table', {{loop.index}});" <span class="glyphicon glyphicon-remove"></span></a>
                                    </th>
                                {% endfor %}
                            </tr>  
                        </thead>
                        <tbody>
                            {% for record_name, values in report.bls.items() %}
                                <tr class="record-row ui-widget-content">
                                    <td>
                                        <button type="button" class="btn btn-danger btn-xs record-remove-btn">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>      
                                    </td>
                                    <td>
                                        <select class="rtype-selection">
                                            {% for rtype in rtypes %}
                                                <option value="{{rtype['id']}}" {% if record_name == rtype['name'] %}selected="selected"{% endif %}>{{rtype['name']}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    {% for value in values %}
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-sm" value="{{value}}">
                                            </div>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button class="btn btn-primary" onclick="addRow('#bls-table', rtypes);">Add Record</button>
                    <button class="btn btn-primary" onclick="addColumn('#bls-table');">Add Column</button>
                </div>

                <div role="tabpanel" class="tab-pane" id="wrapper-ics">
                    <table id="ics-table" class="table table-hover records-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Record Type</th>
                                {% for timerange, timestamp in report.ics.names %}
                                    <th data-column-id="{{loop.index}}">
                                        <span class="column-timerange">{{timerange}}</span> months ended on <span class="column-timestamp">{{timestamp|join('-')}}</span>
                                        <a href="#" data-toggle="modal" data-target="#column-editor"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a href="javascript:void(0);" onclick="removeColumn('#ics-table', {{loop.index}});" <span class="glyphicon glyphicon-remove"></span></a>
                                    </th>
                                {% endfor %}
                            </tr>  
                        </thead>
                        <tbody>
                            {% for record_name, values in report.ics.items() %}
                                <tr class="record-row ui-widget-content">
                                    <td>
                                        <button type="button" class="btn btn-danger btn-xs record-remove-btn">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>      
                                    </td>
                                    <td>
                                        <select class="rtype-selection">
                                            {% for rtype in rtypes %}
                                                <option value="{{rtype['id']}}" {% if record_name == rtype['name'] %}selected="selected"{% endif %}>{{rtype['name']}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    {% for value in values %}
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-sm" value="{{value}}">
                                            </div>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button class="btn btn-primary" onclick="addRow('#ics-table', rtypes);">Add Record</button>
                    <button class="btn btn-primary" onclick="addColumn('#ics-table');">Add Column</button>
                </div>
                <div role="tabpanel" class="tab-pane" id="wrapper-cfs">
                    <table id="cfs-table" class="table table-hover records-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Record Type</th>
                                {% for i in range(report.cfs.ncols) %}
                                    {% if report.cfs.names|length > i %}
                                        {% set timerange = report.cfs.names[0] %}
                                        {% set timestamp = report.cfs.names[1]|join('-') %}
                                    {% else %}
                                        {% set timerange = '(not identified)' %}
                                        {% set timestamp = timerange %}
                                    {% endif %}
                                    <th data-column-id="{{loop.index}}">
                                        <span class="column-timerange">{{timerange}}</span> months ended on <span class="column-timestamp">{{timestamp}}</span>
                                        <a href="#" data-toggle="modal" data-target="#column-editor"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a href="javascript:void(0);" onclick="removeColumn('#bls-table', {{loop.index}});" <span class="glyphicon glyphicon-remove"></span></a>
                                    </th>
                                {% endfor %}
                            </tr>  
                        </thead>
                        <tbody>
                            {% for record_name, values in report.cfs.items() %}
                                <tr class="record-row ui-widget-content">
                                    <td>
                                        <button type="button" class="btn btn-danger btn-xs record-remove-btn">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>      
                                    </td>
                                    <td>
                                        <select class="rtype-selection">
                                            {% for rtype in rtypes %}
                                                <option value="{{rtype['id']}}" {% if record_name == rtype['name'] %}selected="selected"{% endif %}>{{rtype['name']}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    {% for value in values %}
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-sm" value="{{value}}">
                                            </div>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button class="btn btn-primary" onclick="addRow('#cfs-table', rtypes);">Add Record</button>
                    <button class="btn btn-primary" onclick="addColumn('#cfs-table');">Add Column</button>
                </div>
            </div>
        </div>
        <div style="margin-top:15px"></div>
        <div>
            <form method="POST" action="{{ url_for('dbmd_tools.upload_data') }}" id="export-data-form">
                <input type="hidden" name="data" value="" id="data-to-export">
                <input class="btn btn-success" name="submit" type="submit" value="Export Data">
            </form>
            <div>
                <label class="checkbox-inline">
                    <input type="checkbox" name="statement-export" value="bls" checked>BLS
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="statement-export" value="ics" checked>ICS
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="statement-export" value="cfs" checked>CFS
                </label>
            </div>
        </div>
    </div>

    <div class="modal fade" id="column-editor" tabindex="-1" role="dialog" aria-labelledby="modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modal-label">Timestamp & Timerange Editor</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="timestamp-input" class="control-label">Timestamp:</label>
                            <input type="text" class="form-control" id="timestamp-input">
                        </div>
                        <div class="form-group">
                            <label for="timerange-input" class="control-label">Timerange:</label>
                            <textarea class="form-control" id="timerange-input"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abort</button>
                    <button type="button" class="btn btn-primary" id="modal-ok-btn">Ok</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
<script src="{{ url_for('static', filename='vendors/jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/select2/js/select2.full.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/miner.js') }}"></script>
<script>
    var rtypes = {{ rtypes|tojson }};

    refreshSelects();
    $(".record-row").makeDraggable().makeDroppable();

    $(document).on("click", ".record-remove-btn", function() {
        $(this).closest("tr").remove();
    });

    activateFocusOnInputs("#ics-table");
    activateFocusOnInputs("#bls-table");
    activateFocusOnInputs("#cfs-table");
    
    $("#column-editor").on("show.bs.modal", function(event) {
        var $caller = $(event.relatedTarget); 
        var $timerangeSpan = $caller.parent().find(".column-timerange");
        var $timestampSpan = $caller.parent().find(".column-timestamp");
        
        var modal = $(this);
        var $timerangeInput = modal.find("#timerange-input");
        var $timestampInput = modal.find("#timestamp-input");

        // update inputs with current values
        $timerangeInput.val($timerangeSpan.text());
        $timestampInput.val($timestampSpan.text());

        // set callback for Ok button
        modal.find("#modal-ok-btn").click(function(event) {
            $timerangeSpan.text($timerangeInput.val());
            $timestampSpan.text($timestampInput.val());
            modal.modal("hide");
        });
    });

    $(document).on("click", ".recordform-btn", function() {
        var $currentRow = $(this).closest("tr");
        if (!$currentRow.next().hasClass("record-form")) {
            wrapWith("tr",
                wrapWith("td",
                    createRecordForm({
                        "rtypes": rtypes,
                        "abortCallback": function() {
                            $(this).closest("tr").remove();
                        },
                        "addCallback": function() {
                            var recordsData = readDataFromRecordForm($(this).closest("form"));
                            if (recordsData.type === "NONE") {
                                alert("No item selected. Please select one of the item from the list.");
                            } else {
                                if (recordsData.statement == "BLS") {
                                    addRow("#bls-table", rtypes, recordsData);
                                } else if (recordsData.statement == "ICS") {
                                    addRow("#ics-table", rtypes, recordsData);
                                } else {
                                    addRow("#cfs-table", rtypes, recordsData);
                                }
                                alert("The item has been successfully added to the list.");
                                $(this).closest("tr").remove();
                            }
                        }
                    }),
                    {"colspan": "100%"}
                ),
                {"class": "record-form"}
            ).insertAfter($currentRow);
        }
    });

    // Setting report-ui
    $("#row-remove-btn").click(function() {
        
        alert($("#report-content tbody tr").first().position().top);

        // var ics = $("#report-content tr.ics-style").first();
        var ics = $("#report-content tbody tr.ics-style");
        var _offset = ics.position();
        var _topoffset = _offset.top;

        $("#report-content").scrollTop(_topoffset - temp);            
    });

    $(".selector > input").change(function() {
        refreshReportUI();
    });

    $('#stm-filter-list a, #stm-filter-btn').click(
        function () {
            var stype = $(this).data("select-type");
            if (stype !== undefined) {
                // Turn off all checkboxes.
                $(".selector > input:checkbox").prop("checked", false);
                switch(stype) {
                    case "ALL":
                        $(".selector > input:checkbox").prop("checked", true);
                        break;
                    case "NONE":
                        $(".selector > input:checkbox").prop("checked", false);
                        break;
                    case "BLS":
                        $("tr[data-stm='bls']").find(".selector > input").prop("checked", true);
                        break;
                    case "ICS":
                        $("tr[data-stm='ics']").find(".selector > input").prop("checked", true);
                        break;
                    case "CFS":
                        $("tr[data-stm='cfs']").find(".selector > input").prop("checked", true);
                        break;
                }
            }
            refreshReportUI();
        }
    );

    function refreshReportUI() {
        var counter = $(".selector > input:checkbox:checked").length;
        if (counter > 0) {
            $("#stm-dropdown").css("display","inline-block");
            $("#row-remove-btn").css("display","inline-block");

            $("#stm-filter-btn").text("NONE");
            $("#stm-filter-btn").data("select-type", "NONE");
        } else {
            $("#stm-dropdown").css("display","none"); 
            $("#row-remove-btn").css("display","none"); 

            $("#stm-filter-btn").text("ALL");
            $("#stm-filter-btn").data("select-type", "ALL");
        }  
    }

    $("#export-data-form").submit(function() {
        var data = createDataForExport();
        $("#data-to-export").val(data);
        return true;
    });

    function createDataForExport() {
        var timerange = $("#report-timerange").text();
        var timestamp = $("#report-timestamp").text();
        var companyId = $("#company-id").data("company-id");

        var blsRecords = readRecordsFromTable("#bls-table", companyId);
        var icsRecords = readRecordsFromTable("#ics-table", companyId);
        var cfsRecords = readRecordsFromTable("#cfs-table", companyId);

        var data = JSON.stringify({
            "timerange": timerange,
            "timestamp": timestamp,
            "company_id": companyId,
            "records": blsRecords.concat(icsRecords, cfsRecords)
        });
        return data;
    }
</script>
{% endblock %}