{% extends "base.html" %}
{% import 'admin/tools/utils.html' as utils %}

{% block responsivnes %}{% endblock %}
{% block title %} Parser {% endblock %}

{% block head_css %}
    <link href="{{ url_for('static', filename='vendors/select2/css/select2.min.css') }}", rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}", rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/bootstrap3-dialog/css/bootstrap-dialog.min.css') }}", rel="stylesheet">
    <link href="{{ url_for('static', filename='css/non-responsive.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/miner.css') }}" rel="stylesheet">
    <style>
        .backgroundAnimated{    
            background-image:none !important;
            -webkit-animation: fadeIt 3s ease-in-out; 
               -moz-animation: fadeIt 3s ease-in-out; 
                 -o-animation: fadeIt 3s ease-in-out; 
                    animation: fadeIt 3s ease-in-out; 
        }
    </style>
{% endblock %}

{% block page_body %}
{{ super() }}
    <div class="container container-full">
        <h3>Financial Data Miner - Summary</h3>
        <hr>

        <div>
            <h4>Company & Financial Report</h4>
            <div>
                <label>Company<strong style="color: red">&#42;</strong></label>
                <select id="company-select">
                    <option disabled selected value> -- select a company -- </option>
                    {% for comp in companies %}<option value="{{comp.id}}" {% if company and company.name == comp.name %}selected="selected"{% endif %}>{{comp.name}}</option>{% endfor %}
                </select>
                <p class="help-block">Company is required. All uploaded records will be associated with selected company.</p>
            </div>
            <div>
                <div class="checkbox">
                    <label><input id="report-disable-btn" type="checkbox" {% if not (report.timerange and report.timestamp) %} checked {% endif %} value=""> 
                        Data do not concern one particular financial report.
                    </label>
                </div>
                <dvi id="report-data"{% if not (report.timerange and report.timestamp) %} style="display: none;" {% endif %}>
                    <p>Financial report for <strong><span class="timerange" id="report-timerange">{% if report.timerange %}{{report.timerange}}{% else %}---{% endif %}</span></strong> months ended on <strong><span class="timestamp" id="report-timestamp">{% if report.timestamp %}{{report.timestamp.strftime('%Y-%m')}} {% else %}---{% endif %}</span></strong> 
                    (<a href="javascript:void(0);" class="report-time-editor-btn">Edit <span class="glyphicon glyphicon-edit"></span></a>).</p>
                    <p class="help-block">Financial report is optional. All uploaded records will be associated with specified report.</p>
                </dvi>
            </div>
        </div>
        <hr>

        <div id="report-wrapper">
            <h4>Content of the report</h4>
            <div id="report-ui">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked id="layout-checkbox" onchange="switchLayout();"> Maintain the original physical layout of the text.
                    </label>
                </div>
                
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default" 
                            data-select-type="ALL" id="stm-filter-btn"
                            title="Statement">ALL</button>
                    <button type="button" class="btn btn-default dropdown-toggle" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            title="Statement">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" id="stm-filter-list">
                        <li><a data-select-type="ALL" href="#">ALL</a></li>
                        <li><a data-select-type="NONE" href="#">NONE</a></li>
                        <li><a data-select-type="BLS" href="#">BLS</a></li>
                        <li><a data-select-type="ICS" href="#">ICS</a></li>
                        <li><a data-select-type="CFS" href="#">CFS</a></li>
                    </ul>
                </div>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default" id="report-bls-btn" title="BLS" onclick="scrollToRow('tr.bls-style');">
                        <span>BLS</span>
                    </button>
                    <button type="button" class="btn btn-default" id="report-ics-btn" title="ICS" onclick="scrollToRow('tr.ics-style');">
                        <span>ICS</span>
                    </button>
                    <button type="button" class="btn btn-default" id="report-cfs-btn" title="CFS" onclick="scrollToRow('tr.cfs-style');">
                        <span>CFS</span>
                    </button>
                </div> 
                <div class="btn-group btn-group-sm">
                     <button type="button" class="btn btn-danger" id="row-remove-btn" title="Trash">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </div> <!-- <div id="report-ui"> -->

            <div id="report-content">
                <table class="table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Page #</th>
                            <th>Record Type</th>
                            <th>Row Content</th>
                        </tr>  
                    </thead>
                    <tbody>
                        {% for doc_row, page_no, page_row, content in report.rows %}
                            {% set record_name = report.rows_map.get(loop.index0, None) %}
                            {% if page_no in report.ics_pages %}
                                <tr class="ics-style" data-stm="ics" data-row-name="{{record_name}}">
                            {% elif page_no in report.bls_pages %}
                                <tr class="bls-style" data-stm="bls" data-row-name="{{record_name}}">
                            {% elif page_no in report.cfs_pages %}
                                <tr class="cfs-style" data-stm="cfs" data-row-name="{{record_name}}">
                            {% else %}
                                <tr data-stm="none" data-row-name="{{record_name}}">
                            {% endif %}
                                 <td class="selector">
                                    <a href="javascript:void(0);" class="recordform-btn"><span class="glyphicon glyphicon-plus"></span></a>
                                    <input type="checkbox">
                                </td>
                                <td class="pageno">{{page_no}}</td>
                                <td class="record-name">
                                    {% if record_name %}
                                        {% if page_no in report.ics_pages %}
                                            <a href="javascript:void(0);" onclick="activateTab('wrapper-ics'); focusOnRecord('*[data-record-rtype=\'{{record_name}}\']');">{{record_name}}</a>
                                        {% elif page_no in report.bls_pages %}
                                            <a href="javascript:void(0);" onclick="activateTab('wrapper-bls'); focusOnRecord('*[data-record-rtype=\'{{record_name}}\']');">{{record_name}}</a>
                                        {% elif page_no in report.cfs_pages %}
                                            <a href="javascript:void(0);" onclick="activateTab('wrapper-cfs'); focusOnRecord('*[data-record-rtype=\'{{record_name}}\']');">{{record_name}}</a>
                                        {% endif %}
                                    {% else %}
                                        <span>---</span>
                                    {% endif %}
                                </td>
                                <td class="content">{{content}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container container-full">
        <h3>Identified Records</h3>
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="stm-wrappers">
                <li role="presentation" class="active"><a href="#wrapper-bls" aria-controls="wrapper-bls" role="tab" data-toggle="tab">BLS</a></li>
                <li role="presentation"><a href="#wrapper-ics" aria-controls="wrapper-ics" role="tab" data-toggle="tab">ICS</a></li>
                <li role="presentation"><a href="#wrapper-cfs" aria-controls="wrapper-cfs" role="tab" data-toggle="tab">CFS</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="wrapper-bls">
                    <table id="bls-table" class="table table-hover records-table">
                        {% if report.bls|length == 0%}
                            <thead style="display: none;">
                        {% else %}
                            <thead>
                        {% endif %}
                            <tr>
                                <th class="column-btn"></th>
                                <th class="column-btn"></th>
                                <th class="column-rtype">Record Type</th>
                                <th class="column-uom">Units</th>
                                {% for i in range(report.bls.ncols) %}
                                    {% if report.bls.names|length > i %}
                                        {% set timerange = report.bls.names[i][0] %}
                                        {% set timestamp = report.bls.names[i][1][:2]|join('-') %}
                                    {% else %}
                                        {% set timerange = '(not identified)' %}
                                        {% set timestamp = timerange %}
                                    {% endif %}
                                    <th class="column-value" data-column-id="{{loop.index}}">
                                        <span class="timerange">{{timerange}}</span> months ended on <span class="timestamp">{{timestamp}}</span>
                                        <a href="javascript:void(0);" class="time-editor-btn"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a href="javascript:void(0);" class="column-remove-btn"><span class="glyphicon glyphicon-remove"></span></a>
                                    </th>
                                {% endfor %}
                            </tr>  
                        </thead>
                        <tbody>
                            <tr class="empty-row" {% if report.bls|length > 0 %} style="display: none;" {% endif %}>
                                <td colspan="999">
                                    <div>
                                        <strong>No record has been identified.</strong>
                                    </div>
                                </td>
                            </tr>
                            {% for record_name, values in report.bls.items() %}
                                <tr class="record-row ui-widget-content" data-record-rtype="{{record_name}}">
                                    <td class="no-right-padding cell-btn">
                                        <button type="button" class="btn btn-xs btn-danger record-remove-btn">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>     
                                    </td>
                                    <td class="no-left-padding cell-btn"> 
                                        <button type="button" class="btn btn-xs btn-primary btn-to-row">
                                            <span class="glyphicon glyphicon-arrow-up"></span>
                                        </button>   
                                    </td>
                                    <td class="cell-rtype">
                                        <span class="record-rtype">{{record_name}}</span>
                                        <a href="javascript:void(0);" class="record-rtype-btn"><span class="glyphicon glyphicon-list"></span></a>
                                    </td>
                                    <td class="cell-uom"><select class="record-uom" data-init-val="{{report.bls.uom}}"></select></td>
                                    {% for value in values %}
                                        <td class="cell-value"><input type="text" class="form-control input-sm" value="{{value}}"></td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button class="btn btn-primary" onclick="addEmptyRow('#bls-table');">Add Record</button>
                    <button class="btn btn-primary" onclick="addEmptyColumn('#bls-table');">Add Column</button>
                </div>

                <div role="tabpanel" class="tab-pane" id="wrapper-ics">
                    <table id="ics-table" class="table table-hover records-table">
                        {% if report.ics|length == 0%}
                            <thead style="display: none;">
                        {% else %}
                            <thead>
                        {% endif %}
                            <tr>
                                <th class="column-btn"></th>
                                <th class="column-btn"></th>
                                <th class="column-rtype">Record Type</th>
                                <th class="column-uom">Units</th>
                                {% for i in range(report.ics.ncols) %}
                                    {% if report.ics.names|length > i %}
                                        {% set timerange = report.ics.names[i][0] %}
                                        {% set timestamp = report.ics.names[i][1][:2]|join('-') %}
                                    {% else %}
                                        {% set timerange = '(not identified)' %}
                                        {% set timestamp = timerange %}
                                    {% endif %}
                                    <th class="column-value" data-column-id="{{loop.index}}">
                                        <span class="timerange">{{timerange}}</span> months ended on <span class="timestamp">{{timestamp}}</span>
                                        <a href="javascript:void(0);" class="time-editor-btn"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a href="javascript:void(0);" class="column-remove-btn"><span class="glyphicon glyphicon-remove"></span></a>
                                    </th>
                                {% endfor %}
                            </tr>  
                        </thead>
                        <tbody>
                            <tr class="empty-row" {% if report.ics|length > 0 %} style="display: none;" {% endif %}>
                                <td colspan="999">
                                    <div>
                                        <strong>No record has been identified.</strong>
                                    </div>
                                </td>
                            </tr>
                            {% for record_name, values in report.ics.items() %}
                                <tr class="record-row ui-widget-content" data-record-rtype="{{record_name}}">
                                    <td class="no-right-padding cell-btn">
                                        <button type="button" class="btn btn-xs btn-danger record-remove-btn">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>      
                                    </td>
                                    <td class="no-left-padding cell-btn">
                                        <button type="button" class="btn btn-xs btn-primary btn-to-row">
                                            <span class="glyphicon glyphicon-arrow-up"></span>
                                        </button>   
                                    </td>
                                    <td class="cell-rtype">
                                        <span class="record-rtype">{{record_name}}</span>
                                        <a href="javascript:void(0);" class="record-rtype-btn"><span class="glyphicon glyphicon-list"></span></a>
                                    </td>
                                    <td class="cell-uom"><select class="record-uom" data-init-val="{{report.ics.uom}}"></select></td>
                                    {% for value in values %}
                                        <td class="cell-value"><input type="text" class="form-control input-sm" value="{{value}}"></td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button class="btn btn-primary" onclick="addEmptyRow('#ics-table');">Add Record</button>
                    <button class="btn btn-primary" onclick="addEmptyColumn('#ics-table');">Add Column</button>
                </div>
                <div role="tabpanel" class="tab-pane" id="wrapper-cfs">
                    <table id="cfs-table" class="table table-hover records-table">
                        {% if report.cfs|length == 0%}
                            <thead style="display: none;">
                        {% else %}
                            <thead>
                        {% endif %}
                            <tr>
                                <th class="column-btn"></th>
                                <th class="column-btn"></th>
                                <th class="column-rtype">Record Type</th>
                                <th class="column-uom">Units</th>
                                {% for i in range(report.cfs.ncols) %}
                                    {% if report.cfs.names|length > i %}
                                        {% set timerange = report.cfs.names[i][0] %}
                                        {% set timestamp = report.cfs.names[i][1][:2]|join('-') %}
                                    {% else %}
                                        {% set timerange = '(not identified)' %}
                                        {% set timestamp = timerange %}
                                    {% endif %}
                                    <th class="column-value" data-column-id="{{loop.index}}">
                                        <span class="timerange">{{timerange}}</span> months ended on <span class="timestamp">{{timestamp}}</span>
                                        <a href="javascript:void(0);" class="time-editor-btn"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a href="javascript:void(0);" class="column-remove-btn"><span class="glyphicon glyphicon-remove"></span></a>
                                    </th>
                                {% endfor %}
                            </tr>  
                        </thead>
                        <tbody>
                            <tr class="empty-row" {% if report.cfs|length > 0 %} style="display: none;" {% endif %}>
                                <td colspan="999">
                                    <div>
                                        <strong>No record has been identified.</strong>
                                    </div>
                                </td>
                            </tr>
                            {% for record_name, values in report.cfs.items() %}
                                <tr class="record-row ui-widget-content" data-record-rtype="{{record_name}}">
                                    <td class="no-right-padding cell-btn">
                                        <button type="button" class="btn btn-xs btn-danger record-remove-btn">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>      
                                    </td>
                                    <td class="no-left-padding cell-btn">
                                        <button type="button" class="btn btn-xs btn-primary btn-to-row">
                                            <span class="glyphicon glyphicon-arrow-up"></span>
                                        </button>   
                                    </td>
                                    <td class="cell-rtype">
                                        <span class="record-rtype">{{record_name}}</span>
                                        <a href="javascript:void(0);" class="record-rtype-btn"><span class="glyphicon glyphicon-list"></span></a>
                                    </td>
                                    <td class="cell-uom"><select class="record-uom" data-init-val="{{report.cfs.uom}}"></select></td>
                                    {% for value in values %}
                                        <td class="cell-value"><input type="text" class="form-control input-sm" value="{{value}}"></td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button class="btn btn-primary" onclick="addEmptyRow('#cfs-table');">Add Record</button>
                    <button class="btn btn-primary" onclick="addEmptyColumn('#cfs-table');">Add Column</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container container-full">
        <div style="margin-top:30px"></div>
        {{ utils.render_export_form(url_for('dbmd_tools.upload_data'), onclick='exportData();') }}
    </div>
{% endblock %}

{% block body_scripts %}
<script src="{{ url_for('static', filename='vendors/jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/select2/js/select2.full.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bootstrap3-dialog/js/bootstrap-dialog.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dbmd_utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/rtab.js') }}"></script>
<script>
    var rtypes = {{ rtypes|tojson }};
</script>
<script src="{{ url_for('static', filename='js/pdf_file_miner.js') }}"></script>
{% endblock %}