{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Report Uploader{% endblock %}

{% block head_css %}
{{ super() }}
    <style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }
    input[readonly] {
        background-color: white !important;
        cursor: text !important;
    }
    .file-browser {
        margin-bottom: 10px;
    }
    </style>
{% endblock %}

{% block page_body %}
<div class="container">
    <h3>Upload report for parsing</h3>
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="input-group file-browser">
            <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                    Browse&hellip; <input type="file" single name="file" id="file">
                </span>
            </span>
            <input type="text" class="form-control" readonly>
        </div>
        {% for error in form.file.errors %}
            <p class="help-block">{{error}}</p>
        {% endfor %}
        <button type="submit" class="btn btn-default">Upload</button>
    </form>
</div>
{% endblock %}

{% block body_scripts %}
{{ super() }}
<script>
    $(document).on('change', '.btn-file :file', function() {
      var input = $(this),
          numFiles = input.get(0).files ? input.get(0).files.length : 1,
          label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
      input.trigger('fileselect', [numFiles, label]);
    });

    $(document).ready( function() {
        $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
            
            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;
            
            if( input.length ) {
                input.val(log);
            } else {
                if( log ) alert(log);
            }
            
        });
    });
</script>
{% endblock %}