{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Confirm your account{% endblock %}
{% block page_body %}
<div class="container">
<div class="content-section">
  <div class="center">
    <h3>You have not confirmed your account yet.</h3>
    <p>
      Before you can access this site you need to confirm your account.
      Check your inbox, you should have received an email with a confirmation link.
    </p>
    <p>
      Need another confirmation email?
      <a href="{{ url_for('user.resend_confirmation') }}">Click here</a>
    </p>
  </div>
</div>
</div>
{% endblock %}