.container-full {
    margin: 0 auto;
    width: 95%;
}
#report-content {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: none;
}
#report-content table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-spacing: 0;
}
#report-content table tbody tr {
    border-bottom: 1px solid black;
}
#report-content table tbody td { 
    font-family: "Courier New", Courier, monospace;
    padding: 0px;
}
#report-content table thead th {
    padding: 5px 0px;
    text-align: center;
    font-weight: bold;
}
td.content {
    white-space: pre;
}
td.selector {
    min-width: 50px;
}
td.pageno {
    min-width: 50px;
    text-align: center;
}
td.record-name {
    text-align: center;
}
#report-ui {
/*    border-bottom: 1px solid gray;*/

    -webkit-box-shadow: 0 6px 4px -4px gray;
    -moz-box-shadow: 0 6px 4px -4px gray;
    box-shadow: 0 6px 4px -4px gray;

    padding: 5px;
}
#row-remove-btn {
    display: none;
}
#stm-dropdown,
#report-refresh-btn,
#report-remove-btn {
    display: none;
}
.bls-style,
.bls-style td.content {
    color: rgb(205, 0, 103);
    font-weight: bold;
}
.ics-style,
.ics-style td.content {
    color: rgb(51, 102, 153);
    font-weight: bold;
}
.cfs-style,
.cfs-style td.content {
    color: rgb(0, 153, 51);
    font-weight: bold;
}

.record-form td {
    background-color: #e0e0e0;
    padding-top: 10px !important; 
}

.records-table > tbody >tr > td {
    padding-bottom: 0px;
}
.records-table > tbody > tr > td input {
    text-align:center 
}
.records-table > thead th {
    vertical-align: middle;
    text-align: justify;
}
.column-timestamp {
    white-space: nowrap;
}
.rtype-selection {
    width: 200px;
}

.no-left-padding {
    padding-left: 0px !important;
    width: 30px !important;
}

.no-left-padding .btn {
    float: left;
}

.no-right-padding {
    padding-right: 0px !important;
    width: 30px !important;
}

.no-right-padding .btn {
    float: right;
}

@-webkit-keyframes fadeIt {
  0%   { background-color: #2487C9; }
  100% { background-color: #FFFFFF; }
}
@-moz-keyframes fadeIt {
  0%   { background-color: #2487C9; }
  100% { background-color: #FFFFFF; }
}
@-o-keyframes fadeIt {
  0%   { background-color: #2487C9; }
  100% { background-color: #FFFFFF; }
}
@keyframes fadeIt {
  0%   { background-color: #2487C9; }
  100% { background-color: #FFFFFF; }
}

.backgroundAnimated{    
    background-image:none !important;
    -webkit-animation: fadeIt 1s ease-in-out; 
       -moz-animation: fadeIt 1s ease-in-out; 
         -o-animation: fadeIt 1s ease-in-out; 
            animation: fadeIt 1s ease-in-out; 
}

