{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Database Management Dashboard{% endblock %}

{% block page_body %}
<div class="content-section">
    <ul>
        <li>
            Financial Data
            <ul>
                <li><a href="{{ url_for('record.index_view') }}">Records</a></li>
                <li><a href="{{ url_for('recordtype.index_view') }}">Records Types</a></li>
                <li><a href="{{ url_for('report.index_view') }}">Reports</a></li>
            </ul>
        </li>
        <li>
            Companies & Sectors
            <ul>
                <li><a href="{{ url_for('company.index_view') }}">Companies</a></li>
                <li><a href="{{ url_for('sector.index_view') }}">Sectors</a></li>
            </ul>
        </li>
        <li>Makroeconomic Data</li>
        <li>Stock Exchage Quotations</li>
        <li>
            Geographic Data
            <ul>
                <li>Countries</li>
                <li>Districts</li>
            </ul>
        </li>
        {% if current_user.is_administrator or current_user.has_role("moderator") %}
            <li>
                Administration
                <ul>
                    {% if current_user.is_administrator %}
                        <li><a href="{{ url_for('dbmd_user.index_view') }}">Users</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('dbrequest.index_view') }}">DB Requests</a></li>
                </ul>
            </li>
        {% endif %}
    </ul>
</div>
{% endblock %}